<!-- Popover templates - navigation dropdowns - build off of bootstrap popover -->
<script type="text/html" id="eServicePopoverTemplate">
    <div class="ep-action-dropdown">
        <div id="page1" class="page active">
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <div>eVoucher</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <div>Other</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <div>eVoucher</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
            </div>
        </div>
        <div id="page2" class="page">
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <div>eVoucher</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <div>Other</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <div>eVoucher</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
                <div class="ep-item e-service">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Survey</div>
                </div>
            </div>
        </div>
        <div class="ep-action-dropdown-nav">
            <a class="arrow prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a class="number active"></a>
            <a class="number"></a>
            <a class="arrow next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
</script>

<script type="text/html" id="businessRPopoverTemplate">
    <div class="ep-action-dropdown">
        <div class="page active">
            <div class="clearfix">
                <div class="ep-item business-r">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Rule One</div>
                </div>
                <div class="ep-item business-r">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <div>Rule Two</div>
                </div>
            </div>
            <div class="clearfix">
                <div class="ep-item business-r">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <div>Another Rule</div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="businessIPopoverTemplate">
    <div class="ep-action-dropdown clearfix">
        <div class="ep-action-dropdown-sidebar">
            <a class="active">Reports</a>
            <a>User Profile Fields</a>
        </div>
        <div class="ep-action-dropdown-content">
            <div class="page active">
                <div class="clearfix">
                    <div class="ep-item business-i">
                        <i class="fa fa-credt-card-alt" aria-hidden="true"></i>
                        <div>Report 1</div>
                    </div>
                    <div class="ep-item business-i">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div>Report 2</div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="ep-item business-i">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div>Report 3</div>
                    </div>
                    <div class="ep-item business-i">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <div>Report 1</div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="ep-item business-i">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div>Report 2</div>
                    </div>
                    <div class="ep-item business-i">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div>Report 3</div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="ep-item business-i">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div>Report 3</div>
                    </div>
                    <div class="ep-item business-i">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <div>Report 1</div>
                    </div>
                </div>
            </div>
            <div class="ep-action-dropdown-nav">
                <a class="arrow prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                <a class="number active"></a>
                <a class="number"></a>
                <a class="number"></a>
                <a class="arrow next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="multimediaPopoverTemplate">
    <div class="ep-action-dropdown clearfix">
        <div class="ep-action-dropdown-sidebar">
            <a class="active">Photos</a>
            <a>Videos</a>
        </div>
        <div class="ep-action-dropdown-content">
            <div class="page active">
                <div class="clearfix">
                    <div class="ep-item empty">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <div class="copy">
                            Upload Image
                        </div>
                    </div>
                    <div class="ep-item image">
                        <div class="ep-item image">
                            <img src="https://i.pinimg.com/736x/36/7d/ef/367defdda841e98dd07e62dc90472209--hawaii-sunset-hard-days.jpg">
                            <div class="img-desc">
                                sunset-image.jpg
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="ep-item image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZDmYqJfrJQvogIZJKIgfb7c4grE2SxwWmOiLFfgoaFpOn_ama">
                        <div class="img-desc">
                            sunset-345.jpg
                        </div>
                    </div>
                    <div class="ep-item image">
                        <div class="ep-item image">
                            <img src="https://static.pexels.com/photos/57437/sunset-novovoronezh-summer-57437.jpeg">
                            <div class="img-desc">
                                sun.jpg
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="ep-item image">
                        <img src="https://media.istockphoto.com/photos/beautiful-cloudscape-over-the-sea-sunset-shot-picture-id538449165?k=6&m=538449165&s=612x612&w=0&h=OEMd-UKmKYKCy24tk5gGsUOIKDcChD3q3uPVBtVD6_s=">
                        <div class="img-desc">
                            sunset.jpg
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="textPopoverTemplate">
    <div class="ep-action-dropdown">
        <div class="page active">
            <div class="form-group">
                <label class="sr-only" for="text">Enter text</label>
                <textarea class="form-control" id="text" placeholder="Click to add text"></textarea>
            </div>
            <div class="form-group text-right">
                <a data-dismiss="popover" class="link-secondary font-small">Cancel</a>&nbsp;&nbsp;
                <button data-dismiss="popover" class="btn btn-3">Confirm</button>
            </div>
        </div>
    </div>
</script>

<!-- Popover templates for editing items -->

<script type="text/html" id="eServiceEditTemplate">
    <div class="ep-popover">
        <div class="ep-popover-header">
            <div class="btn-group">
                <button type="button" class="btn btn-6">Transition</button>
                <button type="button" class="btn btn-6 active">Configure</button>
                <button type="button" class="btn btn-6">Input</button>
            </div>
        </div>
        <div class="ep-popover-body">
            <div class="page active">
                <div class="form-group sm">
                    <label>Enter question</label>
                    <input type="text" class="form-control" placeholder="Enter question">
                </div>
                <div class="form-group sm">
                    <label>Enter answer(s)</label>
                    <div id="sortable">
                        <div class="input-with-btn sm">
                            <input type="text" class="form-control" placeholder="Enter answer">
                            <div class="handle btn btn-4 icon-btn"><i class="fa fa-arrows" aria-hidden="true"></i></div>
                            <button class="btn btn-4 icon-btn"><i class="fa fa-minus"></i></button>
                        </div>
                        <div class="input-with-btn sm">
                            <input type="text" class="form-control" placeholder="Enter answer">
                            <div class="handle btn btn-4 icon-btn"><i class="fa fa-arrows" aria-hidden="true"></i></div>
                            <button class="btn btn-4 icon-btn"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <a class="link-tertiary font-small"><i class="fa fa-plus" aria-hidden="true"></i> Add answer</a>
                </div>
            </div>
        </div>
        <div class="ep-popover-footer clearfix">
            <div class="pull-left"><a data-dismiss="popover" class="link-secondary font-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</a></div>
            <div class="pull-right"><button data-dismiss="popover" class="btn btn-3">Confirm</button></div>
        </div>
    </div>
</script>

<script type="text/html" id="eServiceEditTemplate2">
    <div class="ep-popover">
        <div class="ep-popover-header">
            <div class="btn-group">
                <button type="button" class="btn btn-6">Transition</button>
                <button type="button" class="btn btn-6">Configure</button>
                <button type="button" class="btn btn-6 active">Input</button>
            </div>
        </div>
        <div class="ep-popover-body">
            <div class="page active">
                <div class="form-group sm">
                    <label>Enter input #1</label>
                    <div class="input-with-btn">
                        <input type="text" class="form-control" placeholder="Enter input #1">
                        <button class="btn btn-4 icon-btn"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div class="form-group sm">
                    <label>Enter input #2</label>
                    <div class="input-with-btn">
                        <input type="text" class="form-control" placeholder="Enter input #2">
                        <button class="btn btn-4 icon-btn"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ep-popover-footer clearfix">
            <div class="pull-left"><a data-dismiss="popover" class="link-secondary font-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</a></div>
            <div class="pull-right"><button data-dismiss="popover" class="btn btn-3">Confirm</button></div>
        </div>
    </div>
</script>

<script type="text/html" id="bIEditTemplate">
    <div class="ep-popover">
        <div class="ep-popover-header">
            <b>Transition</b>
        </div>
        <div class="ep-popover-body">
            <div class="page active">
                <div class="form-group sm">
                    <label>Transition Type</label>
                    <select class="form-control">
                        <option>Timer</option>
                        <option>Click</option>
                    </select>
                </div>
                <div class="form-group sm">
                    <label>Enter time</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Enter time">
                        <select class="form-control">
                            <option>Seconds</option>
                            <option>Minutes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="ep-popover-footer clearfix">
            <div class="pull-left"><a data-dismiss="popover" class="link-secondary font-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</a></div>
            <div class="pull-right"><button data-dismiss="popover" class="btn btn-3">Confirm</button></div>
        </div>
    </div>
</script>

<script type="text/html" id="multimediaEditTemplate">
    <div class="ep-popover">
        <div class="ep-popover-header">
            <b>Transition</b>
        </div>
        <div class="ep-popover-body">
            <div class="page active">
                <div class="form-group sm">
                    <label>Transition Type</label>
                    <select class="form-control">
                        <option>Timer</option>
                        <option>Click</option>
                    </select>
                </div>
                <div class="form-group sm">
                    <label>Enter time</label>
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Enter time">
                        <select class="form-control">
                            <option>Seconds</option>
                            <option>Minutes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="ep-popover-footer clearfix">
            <div class="pull-left"><a data-dismiss="popover" class="link-secondary font-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</a></div>
            <div class="pull-right"><button data-dismiss="popover" class="btn btn-3">Confirm</button></div>
        </div>
    </div>
</script>

<script type="text/html" id="textEditTemplate">
    <div class="ep-popover">
        <div class="ep-popover-header">
            <div class="btn-group">
                <button type="button" class="btn btn-6">Transition</button>
                <button type="button" class="btn btn-6 active">Configure</button>
            </div>
        </div>
        <div class="ep-popover-body">
            <div class="page active">
                <div class="form-group">
                    <label for="text">Enter text</label>
                    <textarea class="form-control" id="text" rows="10" placeholder="Click to add text">this is the text</textarea>
                </div>
            </div>
        </div>
        <div class="ep-popover-footer clearfix">
            <div class="pull-left"><a data-dismiss="popover" class="link-secondary font-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Item</a></div>
            <div class="pull-right"><button data-dismiss="popover" class="btn btn-3">Confirm</button></div>
        </div>
    </div>
</script>

<div class="row main-container">
    <div class="col-md-12">
        <div class="form-group sm">
            <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to OctoberFest 2018</a>
        </div>
        <div class="row">
            <div class="col-lg-5 pull-right">
                <div class="form-group sm text-right action-group">
                    <a class="link-secondary font-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Plan</a>
                    <button class="btn btn-lg btn-1 inverse">Save</button>
                    <button class="btn btn-lg btn-1">Send for Approval</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group sm">
                    <label class="sr-only" for="planName">Engagement Plan Name</label>
                    <input type="text" class="form-control" id="planName" placeholder="Enter Engagement Plan Name">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 form-inline">
                <div class="form-group sm">
                    <label>Touchpoints:&nbsp;&nbsp;&nbsp;</label>
                    <select class="form-control" id="example-getting-started">
                        <option value="1">Two selected touchpoints</option>
                        <option value="2">This is a touchpoint</option>
                        <option value="3">This is a another touchpoint</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button data-target="eServicePopoverTemplate" data-bind="popover: {template: 'eServicePopoverTemplate', placement:'auto bottom'}" class="btn btn-6 with-icon"><i class="fa fa-cloud" aria-hidden="true"></i>e-service</button>
                <button data-target="businessRPopoverTemplate" data-bind="popover: {template: 'businessRPopoverTemplate', placement:'auto bottom'}" class="btn btn-6 with-icon"><i class="fa fa-gavel" aria-hidden="true"></i>Business Rules</button>
                <button data-target="businessIPopoverTemplate" data-bind="popover: {template: 'businessIPopoverTemplate', placement:'auto bottom'}" class="btn btn-6 with-icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Business Intelligence</button>
                <button data-target="multimediaPopoverTemplate" data-bind="popover: {template: 'multimediaPopoverTemplate', placement:'auto bottom'}" class="btn btn-6 with-icon"><i class="fa fa-picture-o" aria-hidden="true"></i>Multimedia</button>
                <button data-target="textPopoverTemplate" data-bind="popover: {template: 'textPopoverTemplate', placement:'auto bottom'}" class="btn btn-6 with-icon"><i class="fa fa-font" aria-hidden="true"></i>Text</button>
            </div>
        </div>
    </div>
</div>

<div class="ep-work-area">
    <div class="ep-start">
        <div>Start</div>
        <div class="connect"></div>
    </div>
    <div class="ep-end">
        <div>End</div>
        <div class="connect"></div>
    </div>
    <div class="ep-start-msg">
        Start by selecting an item from the tool bar
    </div>

    <a id="eServiceEditPopover" data-target="eServiceEditTemplate" data-bind="popover: {template: 'eServiceEditTemplate', placement:'auto right'}" style="position: absolute; top: 10px; left: 10px" class="ep-item e-service draggable-item">
        <div class="ep-edit"><i class="fa fa-pencil"></i></div>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <div>Survey</div>
        <div class="connect top"></div>
        <div class="connect right"></div>
        <div class="connect left"></div>
        <div class="connect bottom"></div>
    </a>

    <a data-target="eServiceEditTemplate2" data-bind="popover: {template: 'eServiceEditTemplate2', placement:'auto right'}" style="position: absolute; top: 10px; left: 120px" class="ep-item e-service draggable-item">
        <div class="ep-edit"><i class="fa fa-pencil"></i></div>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <div>Survey</div>
        <div class="connect top"></div>
        <div class="connect right"></div>
        <div class="connect left"></div>
        <div class="connect bottom"></div>
    </button>

    <a data-target="bIEditTemplate" data-bind="popover: {template: 'bIEditTemplate', placement:'auto right'}" style="position: absolute; top: 10px; left: 230px" class="ep-item business-i draggable-item">
        <div class="ep-edit"><i class="fa fa-pencil"></i></div>
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        <div>Report 2</div>
        <div class="connect top"></div>
        <div class="connect right"></div>
        <div class="connect left"></div>
        <div class="connect bottom"></div>
    </a>

    <a data-target="multimediaEditTemplate" data-bind="popover: {template: 'multimediaEditTemplate', placement:'auto right'}" style="position: absolute; top: 10px; left: 340px" class="ep-item multimedia draggable-item">
        <div class="ep-edit"><i class="fa fa-pencil"></i></div>
        <img src="https://i.pinimg.com/736x/36/7d/ef/367defdda841e98dd07e62dc90472209--hawaii-sunset-hard-days.jpg">
        <div class="connect top"></div>
        <div class="connect right"></div>
        <div class="connect left"></div>
        <div class="connect bottom"></div>
    </a>

    <a class="draggable-item ep-item multimedia" data-target="multimediaEditTemplate" data-bind="popover: {template: 'multimediaEditTemplate', placement:'auto right'}" style="position: absolute; top: 10px; left: 450px">
        <div class="ep-edit"><i class="fa fa-pencil"></i></div>
        <img src="https://media.istockphoto.com/photos/beautiful-cloudscape-over-the-sea-sunset-shot-picture-id538449165?k=6&m=538449165&s=612x612&w=0&h=OEMd-UKmKYKCy24tk5gGsUOIKDcChD3q3uPVBtVD6_s=">
        <div class="connect top"></div>
        <div class="connect right"></div>
        <div class="connect left"></div>
        <div class="connect bottom"></div>
    </a>

    <a class="draggable-item ep-item" data-target="textEditTemplate" data-bind="popover: {template: 'textEditTemplate', placement:'auto right'}" style="position: absolute; top: 10px; left: 560px">
        <div class="ep-edit"><i class="fa fa-pencil"></i></div>
        <i class="fa fa-font" aria-hidden="true"></i>
        <div>this is the t...</div>
        <div class="connect top"></div>
        <div class="connect right"></div>
        <div class="connect left"></div>
        <div class="connect bottom"></div>
    </a>

</div>

<script>
  $( function() {

    //inside a timeout to wait for template to be rendered - temp workaround - should be changed to be called after template is loaded.
    setTimeout(function(){

        //jquery ui draggable for ep items
        $( ".draggable-item" ).draggable({
            containment: "parent"
        });

        $( ".draggable-item" ).on( "drag", function( event, ui ){
            $(this).popover('hide')
        });

         //jquery ui sortable for list in survey popover
        $('#eServiceEditPopover').on('shown.bs.popover', function () {
            $( "#sortable" ).sortable({
                handle: ".handle",
                cursor: "move"
            });
        })

    }, 3000);

  } );
</script>

