<div class="row main-container">
    <div class="col-md-12 col-lg-8">
        <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Merchandising Campaign</a>
        <h2>Define Merchandising Campaign</h2>

        <!-- Examples of active states  -->
        <div class="campaign-step">
            <div class="campaign-number">1</div>
            <h3>Name of the campaign</h3>
            <div class="form-group">
                <label class="sr-only" for="campaignName">Name of the campaign</label>
                <input type="text" class="form-control" id="campaignName" placeholder="Enter name of the campaign">
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">2</div>
            <h3>Offer</h3>
            <h4>2.1 Select an offer</h4>
            <div class="form-group">
                <button type="button" class="btn btn-2 active">Selected Offer</button>
                <button type="button" class="btn btn-2">Another option</button>
                <button type="button" class="btn btn-2">And another</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">3</div>
            <h3>Behaviours</h3>
            <h4>3.1 Select one or more behaviours</h4>
            <div class="form-group">
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> And another option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <a>Skip Step</a><button class="btn btn-lg btn-1 disabled">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">4</div>
            <h3>Touchpoints</h3>
            <h4>4.1 Select a touchpoint</h4>
            <div class="form-group">
                <button type="button" class="btn btn-2"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
                <button type="button" class="btn btn-2"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button>
                <button type="button" class="btn btn-2"><i class="fa fa-twitter" aria-hidden="true"></i> And another twitter</button>
                <span class="or">Or</span>
                <button type="button" class="btn btn-2"><i class="fa fa-plus" aria-hidden="true"></i> New Touchpoint</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1 disabled">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">4</div>
            <h3>Touchpoints</h3>
            <h4>4.1 Select a touchpoint</h4>
            <div class="form-group">
                <button type="button" class="btn btn-2 active"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
                <button type="button" class="btn btn-2"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button>
                <button type="button" class="btn btn-2"><i class="fa fa-twitter" aria-hidden="true"></i> And another twitter</button>
                <span class="or">Or</span>
                <button type="button" class="btn btn-2"><i class="fa fa-plus" aria-hidden="true"></i> New Touchpoint</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="touchpointUrl">Touchpoint URL</label>
                        <input type="text" class="form-control" id="touchpointUrl" placeholder="Enter Touchpoint URL">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="touchpointName">Touchpoint Name (optional)</label>
                        <input type="text" class="form-control" id="touchpointName" placeholder="Enter Touchpoint Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-3 btn-lg">Add</button>
                    </div>
                </div>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1 disabled">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">4</div>
            <h3>Touchpoints</h3>
            <h4>Touchpoints added:</h4>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-5"><i class="fa fa-facebook" aria-hidden="true"></i> Store's facebook</button>
                    <button type="button" class="btn btn-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-5"><i class="fa fa-facebook" aria-hidden="true"></i> Another facebook</button>
                    <button type="button" class="btn btn-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <h4>4.1 Select a touchpoint</h4>
            <div class="form-group">
                <button type="button" class="btn btn-2"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
                <button type="button" class="btn btn-2"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button>
                <button type="button" class="btn btn-2"><i class="fa fa-twitter" aria-hidden="true"></i> And another twitter</button>
                <span class="or">Or</span>
                <button type="button" class="btn btn-2"><i class="fa fa-plus" aria-hidden="true"></i> New Touchpoint</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">4</div>
            <h3>Touchpoints</h3>
            <h4>Touchpoints added:</h4>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-5 active"><i class="fa fa-facebook" aria-hidden="true"></i> Store's facebook</button>
                    <button type="button" class="btn btn-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-5 disabled"><i class="fa fa-facebook" aria-hidden="true"></i> Another facebook</button>
                    <button type="button" class="btn btn-3 disabled"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="touchpointUrl">Touchpoint URL</label>
                        <input type="text" class="form-control" id="touchpointUrl" value="www.facebook.com/mystore" placeholder="Enter Touchpoint URL">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="touchpointName">Touchpoint Name (optional)</label>
                        <input type="text" class="form-control" value="Store's facebook" id="touchpointName" placeholder="Enter Touchpoint Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-3 btn-lg">Save</button>
                    </div>
                </div>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1 disabled">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">5</div>
            <h3>Multimedia</h3>
            <h4>5.1 Upload one or more image, video or audio file</h4>
            <span class="btn btn-lg btn-3 btn-file">
                Upload File <input type="file">
            </span>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <a>Skip Step</a><button class="btn btn-lg btn-1 disabled">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">5</div>
            <h3>Multimedia</h3>
            <h4>Audio files added:</h4>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-5">myaudiofile.mp3</button>
                    <button type="button" class="btn btn-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-5">anotheraudiofile.mp3</button>
                    <button type="button" class="btn btn-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <h4>Video files added:</h4>
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-5">myvideofile.mp4</button>
                    <button type="button" class="btn btn-3"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <h4>Images added:</h4>
            <div class="form-group">
                <div class="clearfix">
                    <div class="img-preview">
                        <button class="btn btn-4 icon-btn"><i class="fa fa-trash"></i></button>
                        <img src="https://i.pinimg.com/736x/36/7d/ef/367defdda841e98dd07e62dc90472209--hawaii-sunset-hard-days.jpg">
                    </div>
                    <div class="img-preview">
                        <button class="btn btn-4 icon-btn"><i class="fa fa-trash"></i></button>
                        <img src="https://media.istockphoto.com/photos/beautiful-cloudscape-over-the-sea-sunset-shot-picture-id538449165?k=6&m=538449165&s=612x612&w=0&h=OEMd-UKmKYKCy24tk5gGsUOIKDcChD3q3uPVBtVD6_s=">
                    </div>
                </div>
            </div>
            <h4>5.1 Upload one or more image, video or audio file</h4>
            <span class="btn btn-lg btn-3 btn-file">
                Upload File <input type="file">
            </span>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">6</div>
            <h3>Business Intelligence</h3>
            <h4>6.1 Select one or more business intelligence</h4>
            <div class="form-group">
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Another option selected</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> And another option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">7</div>
            <h3>Business Rules</h3>
            <h4>7.1 Select one or more business rules</h4>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Store's facebook</h5>
            <div class="form-group">
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
            </div>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Another touchpoint</h5>
            <div class="form-group">
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step">
            <div class="campaign-number">8</div>
            <div class="toggle-switch">
                <span class="switch-label">Off</span>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <span class="switch-label">On</span>
            </div>
            <h3>Metrics</h3>
            <h4>8.1 Select one or more metrics</h4>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Store's facebook</h5>
            <div class="form-group">
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
            </div>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Another touchpoint</h5>
            <div class="form-group">
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
                <button type="button" class="btn btn-checkbox"><i class="fa fa-check" aria-hidden="true"></i> Another option</button>
                <button type="button" class="btn btn-checkbox active"><i class="fa fa-check" aria-hidden="true"></i> Selected option</button>
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Save Campaign</button>
                </div>
            </div>
        </div>
        <hr>

        <br><br><br><br>

        <!-- Example of disabled states (not yet started, when you are on a previous step) -->
        <div class="campaign-step">
            <div class="campaign-number">1</div>
            <h3>Name of the campaign</h3>
            <div class="form-group">
                <label class="sr-only" for="campaignName">Name of the campaign</label>
                <input type="text" class="form-control" id="campaignName" value="My new campaign" placeholder="Enter name of the campaign">
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Next</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">2</div>
            <h3>Offer</h3>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">3</div>
            <h3>Behaviours</h3>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">4</div>
            <h3>Touchpoints</h3>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">5</div>
            <h3>Multimedia</h3>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">6</div>
            <h3>Business Intelligence</h3>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">7</div>
            <h3>Business Rules</h3>
        </div>
        <hr>
        <div class="campaign-step disabled">
            <div class="campaign-number">8</div>
            <h3>Metrics</h3>
        </div>
        <hr>

        <br><br><br><br>

        <!-- Example of completed steps  -->
        <div class="campaign-step complete">
            <div class="campaign-number">1</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Name of the campaign</h3>
            <h4>My new campaign</h4>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">2</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Offer</h3>
            <div class="form-group">
                <span class="tag">Offer selected</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">3</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Behaviours</h3>
            <p>N/A</p>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">4</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Touchpoints</h3>
            <div class="form-group">
                <span class="tag"><i class="fa fa-facebook" aria-hidden="true"></i> Store's Touchpoint</span><span class="tag">Another touchpoint</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">5</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Multimedia</h3>
            <h5>Audio files added:</h5>
            <div class="form-group">
                <span class="tag">myaudiofile.mp3</span><span class="tag">anotheraudiofile.mp3</span>
            </div>
            <h5>Images added:</h5>
            <div class="form-group">
                <span class="tag">myimage.jpg</span><span class="tag">anotherimage.png</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">6</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Business Intelligence</h3>
            <div class="form-group">
                <span class="tag">BI selected</span><span class="tag">Another selected</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">7</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Business Rules</h3>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Store's Facebook</h5>
            <div class="form-group">
                <span class="tag">Option 1</span><span class="tag">Option 2</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete">
            <div class="campaign-number">8</div>
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Metrics</h3>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Store's Facebook</h5>
            <div class="form-group">
                <span class="tag">Option 1</span><span class="tag">Option 2</span>
            </div>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Another Facebook</h5>
            <div class="form-group">
                <span class="tag">Option 3</span><span class="tag">Option 4</span>
            </div>
        </div>
        <hr>

        <br><br><br><br>

        <!-- Example of complete campaign list view -->

        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h2>My new campaign</h2>
        </div>
        <hr>
        <div class="campaign-step list-view">
            <h3>Name of the campaign</h3>
            <div class="form-group">
                <label class="sr-only" for="campaignName">Name of the campaign</label>
                <input type="text" value="My new campaign" class="form-control" id="campaignName" placeholder="Enter name of the campaign">
            </div>
            <div class="clearfix campaign-action">
                <div class="pull-left">
                    <button class="btn btn-lg btn-1 inverse">Cancel</button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-lg btn-1">Confirm Change</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Offer</h3>
            <div class="form-group">
                <span class="tag">Offer selected</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Behaviours</h3>
            <p>N/A</p>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Touchpoints</h3>
            <div class="form-group">
                <span class="tag"><i class="fa fa-facebook" aria-hidden="true"></i> Store's Touchpoint</span><span class="tag">Another touchpoint</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Multimedia</h3>
            <h5>Audio files added:</h5>
            <div class="form-group">
                <span class="tag">myaudiofile.mp3</span><span class="tag">anotheraudiofile.mp3</span>
            </div>
            <h5>Images added:</h5>
            <div class="form-group">
                <span class="tag">myimage.jpg</span><span class="tag">anotherimage.png</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Business Intelligence</h3>
            <div class="form-group">
                <span class="tag">BI selected</span><span class="tag">Another one selected</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Business Rules</h3>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Store's Facebook</h5>
            <div class="form-group">
                <span class="tag">Option 1</span><span class="tag">Option 2</span>
            </div>
        </div>
        <hr>
        <div class="campaign-step complete list-view">
            <button class="btn btn-4 campaign-edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
            <h3>Metrics</h3>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Store's Facebook</h5>
            <div class="form-group">
                <span class="tag">Option 1</span><span class="tag">Option 2</span>
            </div>
            <h5><i class="fa fa-facebook" aria-hidden="true"></i> Another Facebook</h5>
            <div class="form-group">
                <span class="tag">Option 3</span><span class="tag">Option 4</span>
            </div>
        </div>
        <hr>
        <br>
        <div class="clearfix">
            <div class="pull-left">
                <a class="link-secondary"><i class="fa fa-trash" aria-hidden="true"></i> Delete Campaign</a>
            </div>
            <div class="pull-right">
                <button class="btn btn-lg btn-1 inverse">Duplicate Campaign</button>
                <button class="btn btn-lg btn-1">Save Changes</button>
            </div>
        </div>

        <br><br>

        <!-- Sample notification modal -->
        <a href="#newModal" data-toggle="modal">Launch Demo Modal</a>
         
        <!-- Modal HTML -->
        <div id="newModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Editing Merchandising Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <p>Deleting this option will cause some of your previously selected options in some of the other steps to disappear. Are you sure you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-1 inverse" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-lg btn-1">Continue</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="notification">
            <div class="notification-inner">
                <a class="notification-close" aria-label="close">&times;</a>
                <p><i class="fa fa-info-circle" aria-hidden="true"></i> Editing this step has added more options under Touchpoints and Metrics.</p>
            </div>
        </div>

        <br><br><br><br>

    </div>
</div>




