
<div class="row main-container">
  <div class="col-md-12">
    <div class="form-group sm">
      <a><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Campaigns</a>
    </div>
  </div>
  <div class="col-md-6">
    <h1 class="secondary">Living better this time</h1>
  </div>
  <div class="col-md-6">
    <div class="form-group sm text-right action-group">
      <button href="#infoModal" data-toggle="modal" type="button" class="btn btn-lg btn-1 inverse"><span class="fa fa-info-circle"></span>&nbsp;&nbsp;Campaign details</button>
      <button type="button" class="btn btn-lg btn-1">New subcampaign</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="text-center action-group">
      <div class="tabs">
        <a class="active"><span class="fa fa-th"></span> Subcampaigns</a>
        <a class="notify"><span class="fa fa-calendar"></span> Timeline</a>
        <a><span class="fa fa-pie-chart"></span> Performance</a>
      </div>
    </div>
  </div>
</div>

<div class="sc-work-area">

  <div class="sc-column published">

    <div class="sc-column-inner published">
      <div class="sc-column-heading">Published</div>
      <div class="sc-card error">
        <a class="sc-card-link"><span class="fa fa-eye"></span></a>
        <div class="sc-card-heading">Living the published life</div>
        <div class="sc-card-section">
          <div class="sc-card-subheading">Performance</div>
          <div class="sc-statuses clearfix">
            <div class="sc-status">
              <div class="font-small error-color"><span class="fa fa-caret-down"></span> 3.2%</div>
              <div class="font-large">9,765</div>
              <div class="font-small">Total orders</div>
            </div>
            <div class="sc-status">
              <div class="font-small success-color"><span class="fa fa-caret-up"></span> 1.2%</div>
              <div class="font-large">8,450</div>
              <div class="font-small">Orders processed</div>
            </div>
          </div>
        </div>
        <div class="sc-card-section">
          <div class="clearfix">
            <div class="pull-left">
              <div class="sc-card-subheading">Schedule</div>
            </div>
          </div>
          <span class="tag sm start-date">Apr 29 at 9:00 AM</span><br>
          <span class="tag sm end-date">Apr 30 at 5:00 PM</span>&nbsp;&nbsp;&nbsp;<b class="error-color font-small">In 3 days</b>
        </div>
        <div class="sc-card-section">
          <div class="sc-card-subheading">Touchpoints</div>
          <div class="font-small">BBC Merc, BCC Latest</div>
        </div>
        <div class="clearfix sc-card-section">
          <div class="pull-right">
            <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          </div>
        </div>
      </div>
      <div class="sc-card">
        <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
        <div class="sc-card-heading">Living a longer life</div>
        <div class="sc-card-section">
          <div class="sc-card-subheading">Performance</div>
          <div class="sc-statuses clearfix">
            <div class="sc-status">
              <div class="font-small success-color"><span class="fa fa-caret-up"></span> 6.2%</div>
              <div class="font-large">234,765</div>
              <div class="font-small">Total orders</div>
            </div>
            <div class="sc-status">
              <div class="font-small success-color"><span class="fa fa-caret-up"></span> 7.6%</div>
              <div class="font-large">23,450</div>
              <div class="font-small">Orders processed</div>
            </div>
          </div>
        </div>
        <div class="sc-card-section">
          <div class="clearfix">
            <div class="pull-left">
              <div class="sc-card-subheading">Schedule</div>
            </div>
            <div class="pull-right">
              <a href="#scheduleModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
            </div>
          </div>
          <span class="tag sm start-date">Apr 24 at 9:00 AM</span><br>
          <span class="tag sm end-date">May 3 at 5:00 PM</span>
        </div>
        <div class="sc-card-section">
          <div class="sc-card-subheading">Touchpoints</div>
          <div class="font-small">BBC Merc, BCC Latest</div>
        </div>
        <div class="clearfix sc-card-section">
          <div class="pull-right">
            <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
            <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="sc-column-inner expired">
      <div class="sc-column-heading-secondary">Expired</div>
      <div class="sc-card">
        <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
        <div class="sc-card-heading">Living a longer life again with a longer title</div>
        <div class="sc-card-section">
          <div class="sc-card-subheading">Performance</div>
          <div class="sc-statuses clearfix">
            <div class="sc-status">
              <div class="font-small success-color"><span class="fa fa-caret-up"></span> 6.2%</div>
              <div class="font-large">234,765</div>
              <div class="font-small">Total orders</div>
            </div>
            <div class="sc-status">
              <div class="font-small success-color"><span class="fa fa-caret-up"></span> 7.6%</div>
              <div class="font-large">23,450</div>
              <div class="font-small">Orders processed</div>
            </div>
          </div>
        </div>
        <div class="sc-card-section">
          <div class="clearfix">
            <div class="pull-left">
              <div class="sc-card-subheading">Schedule</div>
            </div>
            <div class="pull-right">
              <a href="#scheduleModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
            </div>
          </div>
          <span class="tag sm start-date">Apr 24 at 9:00 AM</span><br>
          <span class="tag sm end-date">May 3 at 5:00 PM</span>
        </div>
        <div class="sc-card-section">
          <div class="sc-card-subheading">Touchpoints</div>
          <div class="font-small">BBC Merc, BCC Latest</div>
        </div>
        <div class="clearfix sc-card-section">
          <div class="pull-right">
            <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
            <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="sc-column collapsed">
    <a class="sc-column-collapse fa-minus fa"></a>
    <div class="sc-column-heading">Creation</div>
    <div class="sc-card sc-card-collapse">
      <div><span class="fa fa-clock-o success-color"></span> 2</div>
      <div><span class="fa fa-clock-o warning-color"></span> 3</div>
      <div><span class="fa fa-clock-o error-color"></span> 4</div>
    </div>
    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-eye"></span></a>
      <div class="sc-card-heading">Title of the subcampaign</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
    </div>
  </div>

  <div class="sc-column">
    <a class="sc-column-collapse fa-minus fa"></a>
    <div class="sc-column-heading">Creation</div>
    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-eye"></span></a>
      <div class="sc-card-heading">Title of the subcampaign</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
        </div>
      </div>
    </div>
    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-eye"></span></a>
      <div class="sc-card-heading">Living better</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Due date</div>
          </div>
        </div>
        <div class="sc-date warning"><span class="fa fa-clock-o"></span> Apr 23 at 9:00 AM</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sc-column notify">
    <div class="sc-column-heading">Pending creation approval</div>
    <div class="sc-card notify">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">Yet another subcampaign</div>
      <div class="sc-card-section">
        <button class="btn btn-3">Review Creation</button>
      </div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Due date</div>
          </div>
          <div class="pull-right">
            <a href="#dateModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
          </div>
        </div>
        <div class="sc-date success"><span class="fa fa-clock-o"></span> May 3 at 4:00 PM</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
    <div class="sc-card notify">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">This is another</div>
      <div class="sc-card-section">
        <button class="btn btn-3">Review Creation</button>
      </div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Due date</div>
          </div>
          <div class="pull-right">
            <a href="#dateModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
          </div>
        </div>
        <div class="sc-date error"><span class="fa fa-clock-o"></span> Apr 1 at 12:00 PM</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sc-column">
    <div class="sc-column-heading">Design</div>
    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">This is another example</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-left">
          <button href="#dateModal" data-toggle="modal" class="btn btn-4"><span class="fa fa-clock-o"></span> Set due date</button>
        </div>
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">This is another example again</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-left">
          <button href="#dateModal" data-toggle="modal" class="btn btn-4"><span class="fa fa-clock-o"></span> Set due date</button>
        </div>
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">This is another example</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Due date</div>
          </div>
          <div class="pull-right">
            <a href="#dateModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
          </div>
        </div>
        <div class="sc-date error"><span class="fa fa-clock-o"></span> Apr 3 at 12:00 PM</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sc-column notify">
    <div class="sc-column-heading">Pending design approval</div>
    <div class="sc-card notify">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">This is another title</div>
      <div class="sc-card-section">
        <button class="btn btn-3">Review Design</button>
      </div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Due date</div>
          </div>
          <div class="pull-right">
            <a href="#dateModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
          </div>
        </div>
        <div class="sc-date success"><span class="fa fa-clock-o"></span> Apr 30 at 12:00 PM</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sc-column notify">
    <div class="sc-column-heading">Ready to be scheduled</div>
    <div class="sc-card notify">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">Subcampaign title</div>
      <div class="sc-card-section">
        <button href="#scheduleModal" data-toggle="modal" class="btn btn-3">Schedule</button>
      </div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Due date</div>
          </div>
          <div class="pull-right">
            <a href="#dateModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
          </div>
        </div>
        <div class="sc-date success"><span class="fa fa-clock-o"></span> June 30 at 2:00 PM</div>
      </div>
      <div class="sc-card-section clearfix">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sc-column">
    <div class="sc-column-heading">Scheduled</div>

    <div class="sc-card">
      <a class="sc-card-link"><span class="fa fa-pencil"></span></a>
      <div class="sc-card-heading">Living a longer life</div>
      <div class="sc-card-section">
        <div class="clearfix">
          <div class="pull-left">
            <div class="sc-card-subheading">Schedule</div>
          </div>
          <div class="pull-right">
            <a href="#scheduleModal" data-toggle="modal" class="fa fa-pencil icon-link"></a>
          </div>
        </div>
        <span class="tag sm start-date">Apr 24 at 9:00 AM</span><br>
        <span class="tag sm end-date">May 3 at 5:00 PM</span>
      </div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Touchpoints</div>
        <div class="font-small">BBC Merc, BCC Latest</div>
      </div>
      <div class="clearfix sc-card-section">
        <div class="pull-right">
          <a href="#copyModal" data-toggle="modal" class="fa fa-copy icon-link"></a>
          <a href="#deleteModal" data-toggle="modal" class="fa fa-trash icon-link"></a>
        </div>
      </div>
    </div>
    <div class="sc-card">
      <div class="sc-card-heading">Sample elements</div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Modals</div>
        <a href="#dateModal" data-toggle="modal">Launch Date Modal</a><br>
        <a href="#scheduleModal" data-toggle="modal">Launch Schedule Modal</a><br>
        <a href="#infoModal" data-toggle="modal">Launch Info Modal</a><br>
        <a href="#copyModal" data-toggle="modal">Launch Copy Modal</a>
      </div>
      <div class="sc-card-section">
        <div class="sc-card-subheading">Buttons</div>
        <button class="btn btn-1">button 1</button><br><br>
        <button class="btn btn-1 inverse">button 1.2</button><br><br>
        <button class="btn btn-2">button 2</button><br><br>
        <button class="btn btn-3">button 3</button><br><br>
        <button class="btn btn-4">button 4</button><br><br>
        <button class="btn btn-5">button 5</button><br><br>
        <button class="btn btn-6">button 6</button><br><br>
        <button class="btn btn-7">button 7</button>
      </div>
    </div>

  </div>

</div>



<!-- MODALS -->

<!-- Sample date modal -->
<div id="dateModal" class="modal fade secondary sm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Living better this time</h4>
      </div>
      <div class="modal-body">
        <p>Design due date</p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">Date</label>
              <input type="text" class="form-control" id="date" placeholder="Date">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time">Time</label>
              <select id="time" placeholder="Time" class="form-control">
                <option>1:00 am</option>
                <option>2:00 am</option>
                <option>3:00 am</option>
                <option>4:00 am</option>
                <option>5:00 am</option>
                <option>6:00 am</option>
                <option>7:00 am</option>
                <option>8:00 am</option>
                <option>9:00 am</option>
                <option>10:00 am</option>
                <option>11:00 am</option>
                <option>12:00 am</option>
                <option>1:00 pm</option>
                <option>2:00 pm</option>
                <option>3:00 pm</option>
                <option>4:00 pm</option>
                <option>5:00 pm</option>
                <option>6:00 pm</option>
                <option>7:00 pm</option>
                <option>8:00 pm</option>
                <option>9:00 pm</option>
                <option>10:00 pm</option>
                <option>11:00 pm</option>
                <option>12:00 pm</option>
              </select>
            </div>
          </div>
        </div>
        <div class="datepicker"></div>
      </div>
      <div class="modal-footer">
        <a class="link-secondary font-small" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i> Remove due date</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-lg btn-1">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Schedule modal -->
<div id="scheduleModal" class="modal fade secondary">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Living better this time</h4>
      </div>
      <div class="modal-body">
        <p>Schedule subcampaign</p>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="start-color">Start Date</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="text" class="form-control" id="date" placeholder="Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="time">Time</label>
                  <select id="time" placeholder="Time" class="form-control">
                    <option>1:00 am</option>
                    <option>2:00 am</option>
                    <option>3:00 am</option>
                    <option>4:00 am</option>
                    <option>5:00 am</option>
                    <option>6:00 am</option>
                    <option>7:00 am</option>
                    <option>8:00 am</option>
                    <option>9:00 am</option>
                    <option>10:00 am</option>
                    <option>11:00 am</option>
                    <option>12:00 am</option>
                    <option>1:00 pm</option>
                    <option>2:00 pm</option>
                    <option>3:00 pm</option>
                    <option>4:00 pm</option>
                    <option>5:00 pm</option>
                    <option>6:00 pm</option>
                    <option>7:00 pm</option>
                    <option>8:00 pm</option>
                    <option>9:00 pm</option>
                    <option>10:00 pm</option>
                    <option>11:00 pm</option>
                    <option>12:00 pm</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="datepicker"></div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label class="end-color">End Date</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="text" class="form-control" id="date" placeholder="Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="time">Time</label>
                  <select id="time" placeholder="Time" class="form-control">
                    <option>1:00 am</option>
                    <option>2:00 am</option>
                    <option>3:00 am</option>
                    <option>4:00 am</option>
                    <option>5:00 am</option>
                    <option>6:00 am</option>
                    <option>7:00 am</option>
                    <option>8:00 am</option>
                    <option>9:00 am</option>
                    <option>10:00 am</option>
                    <option>11:00 am</option>
                    <option>12:00 am</option>
                    <option>1:00 pm</option>
                    <option>2:00 pm</option>
                    <option>3:00 pm</option>
                    <option>4:00 pm</option>
                    <option>5:00 pm</option>
                    <option>6:00 pm</option>
                    <option>7:00 pm</option>
                    <option>8:00 pm</option>
                    <option>9:00 pm</option>
                    <option>10:00 pm</option>
                    <option>11:00 pm</option>
                    <option>12:00 pm</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="datepicker"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="link-secondary font-small" data-dismiss="modal">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-lg btn-1">Schedule</button>
      </div>
    </div>
  </div>
</div>

<!-- Sample info modal -->
<div id="infoModal" class="modal fade secondary">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Living better this time</h4>
      </div>
      <div class="modal-body">
        <p>Associated campaigns</p>
        <span class="tag">Living healthier</span>
        <span class="tag">Another campaign</span>
        <p>Offer</p>
        <span class="tag">Super 4 Youth</span>
        <p>Touchpoints</p>
        <span class="tag">BBC Merc</span>
        <span class="tag">BCC Latest</span>
        <p>12 Subcampaigns</p>
        <span>
                    <b>Published:</b> 4<br>
                    <b>Scheduled:</b> 2
                </span>
      </div>
    </div>
  </div>
</div>


<!-- Sample copy modal -->
<div id="copyModal" class="modal fade secondary">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Clone Subcampaign</h4>
      </div>
      <div class="modal-body">
        <p>Would you like to create a copy of "Living better this time"?<br>The copy will be placed under "Creation".</p>
      </div>
      <div class="modal-footer">
        <a class="link-secondary font-small" data-dismiss="modal">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-lg btn-1">Copy</button>
      </div>
    </div>
  </div>
</div>


<!-- Sample delete modal -->
<div id="deleteModal" class="modal fade secondary">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Subcampaign</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the subcampaign "Title of the subcampaign"?</p>
      </div>
      <div class="modal-footer">
        <a class="link-secondary font-small" data-dismiss="modal">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-lg btn-1">Delete</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( function() {
    //inside a timeout to wait for template to be rendered - temp workaround - should be changed to be called after template is loaded.
    setTimeout(function(){
      //init datepickers - jquery UI
      $( ".datepicker" ).datepicker();
    }, 3000);
  } );
</script>

