<div class="container" data-gjs-droppable="false">
  <div class="row" data-gjs-droppable="false">
    <div class="col-sm-6 media-div" data-region="1" data-gjs-droppable="true"></div>
    <div class="col-sm-6" data-region="2" data-gjs-droppable="true"></div>
  </div>
  <div class="row" data-gjs-droppable="false">
    <div class="col-sm-6 media-div" data-region="3" data-gjs-droppable="true"></div>
    <div class="col-sm-6" data-region="4" data-gjs-droppable="true"></div>
  </div>
  <div class="row" data-gjs-droppable="false">
    <div id="recommendation-container" class="col-sm-12" data-region="5" data-gjs-droppable="true"></div>
  </div>
</div>
