<footer class="tempFooter">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-11 col-sm-offset-1 footer-color-ice4m text-center" data-bind="css: { 'col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0' : $root.smallSideBar() === true, 'col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1': $root.smallSideBar() !== true}"" >
                <p>&copy; Digital Engagement Xperience (<a href="http://www.dexit.co">DEX</a>) <span data-bind="text: $root.currentYear"></span></p>
            </div>
        </div>
    </div>
</footer>
